:root {
	--gray: #1a191a;
	--black: #080708;
	--dark: #443847;
	--house: #000000;
	--bat: #070707;
	--bounce: linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
}

.spooky-container {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh; /* PWA Full Height Fix */
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	align-content: flex-end;
	background: var(--sky-bg);
	transition: background 5s ease-in-out;
	pointer-events: auto;
}

/* Theme Dynamic Colors */
.theme-night { 
	--sky-bg: linear-gradient(238deg, #000, #fff0, #fff0), linear-gradient(180deg, #000, #fff0, #fff0), radial-gradient(circle at 50% 100%, #005eff, #6d006d, #38005e );
	--window: #ff8d00cf;
	--stars-opacity: 0.5;
}
.theme-day { 
	--sky-bg: linear-gradient(238deg, #fff0, #fff0, #fff0), linear-gradient(180deg, #87ceeb, #5b92e5, #87ceeb), radial-gradient(circle at 50% 100%, #5b92e5, #5b92e5, #5b92e5 );
	--window: #111;
	--stars-opacity: 0;
}

.spooky-container:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 10vmin;
	z-index: 1; /* Fixed z-index so hills are in front of sky */
	bottom: 0;
	background: 
		radial-gradient(circle at calc(50% - 33vmin) calc(100% + 31vmin), var(--house) 40vmin, #fff0 calc(40vmin + 1px) ), 
		radial-gradient(circle at calc(50% + 33vmin) calc(100% + 30vmin), var(--house) 40vmin, #fff0 calc(40vmin + 1px) ), 
		radial-gradient(circle at 50% calc(100% + 43vmin), var(--house) 50vmin, #fff0 calc(50vmin + 1px) );
	background-repeat: no-repeat;
}

.door, .window, .balcony, .flying-bat, .tomb, .skeleton-floating, .chimney, .cable, .pumpkin {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.content {
	width: 90vmin;
	height: 90vmin;
	background-size: cover;
	position: relative;
	perspective: 100vmin;
	perspective-origin: top;
	bottom: 5vmin;
	z-index: 10; /* Fixed z-index so house stays in front of everything */
}

.content * {
	position: absolute;
	transform-style: preserve-3d;
}

/* Fixes the bottom PWA gap */
.ground-fill {
	position: absolute;
	width: 200vw;
	height: 50vh;
	bottom: -49vh;
	left: calc(50% - 100vw);
	background: var(--house);
	z-index: -1;
}

/* Restores Sun and Moon Day/Night Rotation */
.celestial-pivot { 
	position: absolute; 
	top: 100%; 
	left: 50%; 
	width: 0; 
	height: 0; 
	z-index: 1; 
}
.sun-pivot, .moon-pivot { 
	transition: transform 5s ease-in-out; 
}
.sun { 
	position: absolute; 
	width: 20vmin; 
	height: 20vmin; 
	left: -10vmin; 
	top: -75vh; /* Optimized orbit radius for phones */
	background-color: #FFD700; 
	box-shadow: 0 0 50px rgba(255, 215, 0, 0.8), inset 2vmin -2vmin 0 rgba(200, 100, 0, 0.2); 
	border-radius: 50%; 
}
.sun:before, .sun:after { 
	content: ""; 
	position: absolute; 
	border-radius: 50%; 
	background-color: rgba(255, 255, 255, 0.25); 
	box-shadow: inset -5px 5px 0 rgba(255, 255, 255, 0.1); 
}
.sun:before { width: 3vmin; height: 3vmin; top: 5vmin; left: 4.5vmin; }
.sun:after { width: 4vmin; height: 4vmin; top: 10vmin; left: 3vmin; }

.moon {
	position: absolute; 
	width: 20vmin; 
	height: 20vmin; 
	left: -10vmin; 
	top: -75vh; /* Optimized orbit radius for phones */
	border-radius: 100%; 
	background: radial-gradient(circle at 50% 50%,#fdfdfd 0% 7vmin,#ffffff00 7.25vmin 100%),#fff; 
	box-shadow: 0 0 8em 4em #6493a9, 0 0 8em -16em #ff660000 inset,0 0 20px 5px #fdfdfd;
}
.moon:before {
	content: "";
	background: radial-gradient(circle at 100% 60%,	#ffffff00 0% 60%, #dddddd 75% 100%);
	width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; border-radius: 100%;
}
.moon:after {
	content: "";
	background: radial-gradient(circle at 0% 40%,#efefef 0% 60%,#ededed 75% 100%);
	width: 4.5vmin; height: 4.5vmin; position: absolute; top: 20%; left: 20%; border-radius: 100%; filter: blur(2px);
}

.sky {
	height: 100%;
	width: 100%;
	z-index: 0; /* Fixed z-index so sky is not hidden behind the container */
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

.sky:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-image: radial-gradient(2px 2px at 20px 30px, #484341, transparent),
		radial-gradient(2px 2px at 43px 75px, #735454, transparent),
		radial-gradient(2px 1px at 54px 184px, #828282, transparent),
		radial-gradient(2px 2px at 93px 47px, #654b49, transparent),
		radial-gradient(1px 1px at 148px 87px, #3a1919, transparent),
		radial-gradient(2px 2px at 193px 137px, #a26662, transparent),
		radial-gradient(1px 2px at 210px 154px, #805241, transparent),
		radial-gradient(2px 2px at 243px 102px, #866356, transparent),
		radial-gradient(2px 1px at 264px 184px, #794937, transparent),
		radial-gradient(2px 2px at 293px 44px, #735454, transparent),
		radial-gradient(1px 1px at 223px 62px, #ad968e, transparent),
		radial-gradient(2px 2px at 249px 162px, #884228, transparent),
		radial-gradient(2px 2px at 73px 99px, #442e26, transparent),
		radial-gradient(1px 1px at 163px 42px, #403433, transparent),
		linear-gradient(180deg, #fff0 10%, var(--house) 25%, #111 50%, #222 75%, #111 100%);
	background-repeat: no-repeat, repeat;
	background-size: 333px 263px, 333px 163px, 333px 163px, 333px 163px,
		333px 163px, 333px 163px, 333px 163px, 333px 163px, 333px 163px, 333px 163px,
		333px 163px, 333px 163px, 333px 163px, 333px 163px, 100% 100%;
	opacity: var(--stars-opacity);
	mix-blend-mode: color-burn;
	transition: opacity 5s ease-in-out;
}

.level-0 { width: 30vmin; height: 25vmin; background: var(--house); bottom: 0; left: 22vmin; transform: rotateX(82deg) skewX(5deg); z-index: 1; }
.level-1 { width: 16vmin; height: 34vmin; background: var(--house); bottom: 3.75vmin; left: 53vmin; transform: perspective(100vmin) rotateX(82deg) skewX(-10deg); }
.level-2 { width: 19vmin; height: 35vmin; background: var(--house); bottom: 31.5vmin; left: 29vmin; transform: perspective(150vmin) rotateX(45deg) skewX(2deg) rotate(2deg); clip-path: polygon(0% 85%, 0% 0%, 100% 0%, 100% 94%, 48% 57%); z-index: 1; box-shadow: 0.25vmin -0.5vmin 0.5vmin 0 #fff3 inset, 0.5vmin -0.5vmin 1.5vmin 0 #fff2 inset; }
.roof-0 { width: 37vmin; height: 23vmin; bottom: 23.25vmin; left: 18.75vmin; border: 19vmin solid #0000; box-sizing: border-box; border-bottom: 22vmin solid var(--house); transform: skew(-8deg, -1deg) rotate(1.25deg); border-radius: 0.5vmin; }
.roof-1, .chimney:before { background: radial-gradient(circle at -9vmin 1vmin, #fff0 18vmin, #fff3 calc(18vmin + 1px) 18vmin, #fff0 19vmin 100%), radial-gradient(circle at -9vmin 1vmin, #fff0 18vmin, var(--house) calc(18vmin + 1px) ), radial-gradient(circle at 24.5vmin -5vmin, #fff0 25vmin, var(--house) calc(25vmin + 1px) ), #0000; width: 21vmin; height: 17vmin; bottom: 31.75vmin; left: 52vmin; transform: skew(-8deg, -1deg) rotate(2deg); border-radius: 0.5vmin; background-size: calc(50% - 1vmin) 100%, calc(50% - 1vmin) 100%, calc(50% + 1vmin) 100%; background-repeat: no-repeat; background-position: 0 0, 0 0, 99% 0; }
.roof-2 { background: radial-gradient(circle at 34vmin -9vmin, #fff0 35vmin, var(--house) calc(35vmin + 1px) ), radial-gradient(circle at -18vmin 4vmin, #fff0 28vmin, #fff4 calc(28vmin + 1px), #fff0 28.75vmin ), radial-gradient(circle at -18vmin 4vmin, #fff0 28vmin, var(--house) calc(28vmin + 1px) ), #0f00; width: 34vmin; height: 25vmin; bottom: 63.9vmin; left: 26vmin; transform: skew(-8deg, -1deg) rotate(1deg); border-radius: 0.5vmin; background-size: calc(50% + 6.5vmin) 100%, calc(50% + 7vmin) 100%, calc(50% - 6.5vmin) 100%, calc(50% - 7vmin) 100%; background-repeat: no-repeat; background-position: 99% 0, 0 0, 0 0; }
.door { background: linear-gradient(183deg, #fff0 7.5vmin, var(--house) calc(7.5vmin + 1px) 8vmin, #fff0 calc(8vmin + 1px) 0), linear-gradient(94deg, var(--house) 0.75vmin, #fff0 calc(0.75vmin + 1px)), linear-gradient(-94deg, var(--house) 0.75vmin, #fff0 calc(0.75vmin + 1px)), linear-gradient(-5deg, var(--house) 0.5vmin, #fff0 calc(0.5vmin + 1px)), linear-gradient(86deg, #fff0 3.5vmin, var(--house) calc(3.5vmin + 1px) 4vmin, #fff0 calc(4vmin + 1px)), linear-gradient(95deg, #fff0 7vmin, var(--house) calc(7vmin + 1px) 7.5vmin, #fff0 calc(7.5vmin + 1px)), linear-gradient(92deg, #fff0 10vmin, var(--house) calc(10vmin + 1px) 10.5vmin, #fff0 calc(10.5vmin + 1px)), radial-gradient(circle at 50% 87%, #fff0 5.65vmin, var(--house) calc(5.65vmin + 1px)), radial-gradient(circle at 46% 87%, #fff0 5.65vmin, var(--house) calc(5.65vmin + 1px)), linear-gradient(38deg, #fff0 4.25vmin, var(--house) calc(4.25vmin + 1px) 4.75vmin, #fff0 calc(4.75vmin + 1px)), linear-gradient(87deg, #fff0 1vmin, var(--house) calc(1vmin + 1px)), linear-gradient(123deg, #fff0 5vmin, var(--house) calc(5vmin + 1px) 5.5vmin, #fff0 calc(5.5vmin + 1px)), linear-gradient(150deg, #fff0 7vmin, var(--house) calc(7vmin + 1px) 7.5vmin, #fff0 calc(7.5vmin + 1px)), linear-gradient(180deg, var(--window), var(--window)), #fff; width: 13vmin; height: 20vmin; bottom: 1.5vmin; left: 8vmin; transform: skew(2deg, -2deg); border-radius: 100% 100% 0.5vmin 0.5vmin; background-repeat: no-repeat; background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 65%, 100% 64%, 100% 63%, 105% 38%, 105% 38%, 60% 39%, 11% 39%, 58% 39%, 56% 39%; background-position: 0 0, 0 0, 0 0, 0 0, 0 100%, 0 100%, 0 100%, 0 0, 0 0, 0 0, 50% 0, 100% 0, 100% 0; perspective: 10000vmin; perspective-origin: top; }
.window { width: 8vmin; height: 17vmin; background: linear-gradient(178deg, #fff0 0 12vmin, var(--house) calc(12vmin + 1px) 12.4vmin, #fff0 calc(12.4vmin + 1px)), linear-gradient(183deg, #fff0 0 7vmin, var(--house) calc(7vmin + 1px) 7.45vmin, #fff0 calc(7.45vmin + 1px)), linear-gradient(91deg, #fff0 0 3.65vmin, var(--house) calc(3.65vmin + 1px) 4.1vmin, #fff0 calc(4.1vmin + 1px)), linear-gradient(180deg, var(--window), var(--window)), #fff; left: 3.5vmin; top: 8vmin; border-radius: 4vmin 5vmin 0.1vmin 0.1vmin; transform: rotateX(-0deg); overflow: hidden; }
.level-1 .window:before { content: ""; position: absolute; width: 100%; height: 100%; top: -1vmin; max-height: 0; background: repeating-linear-gradient(180deg, var(--house) 0 0.5vmin, #fff0 0 0.85vmin); transition: max-height 2s var(--bounce) 0s; border-bottom: 0.75vmin solid var(--house); }
.level-1 .window.active:before { max-height: 100%; top: -0.75vmin; transition: max-height 2s var(--bounce) 0s; }
.level-2 .window { transform: scale(0.75) rotateY(180deg) skewY(-2deg); top: 1vmin; left: 4.5vmin; border-radius: 4vmin 5vmin 0.1vmin 0.1vmin; overflow: hidden; border-top: 1px solid var(--house); }
.roof-0 .window { --window: #084461e0; --light: #111; border-radius: 100%; height: 7vmin; width: 7vmin; background: linear-gradient(183deg, #fff0 0 3.25vmin, var(--house) calc(3.25vmin + 1px) 3.65vmin, #fff0 calc(3.65vmin + 1px)), linear-gradient(91deg, #fff0 0 3.25vmin, var(--house) calc(3.25vmin + 1px) 3.65vmin, #fff0 calc(3.65vmin + 1px)), linear-gradient(180deg, var(--light), var(--window)); left: -3vmin; }
@keyframes light-on { 0%, 20%, 35% { --window: #084461e0; --light: #111; } 10%, 30%, 40%, 100% { --window: #ffd5a0cc; --light: #fff5ce; } 100% { --window: #ffd5a0; --light: #fff5ce; } }
.chimney { left: 21vmin; top: 8vmin; width: 7vmin; height: 12vmin; }
.chimney:before { content: ""; position: absolute; transform: scale(0.25) rotate(2deg); left: -7vmin; top: -6vmin; }
.chimney:after { content: ""; position: absolute; border: 1.5vmin solid #fff0; border-right: 2vmin solid var(--house); border-bottom: 3vmin solid var(--house); border-top: 0; width: 6vmin; height: 6vmin; left: -4.75vmin; bottom: -1.85vmin; border-radius: 5vmin 0vmin 6vmin; }
.fence { background: radial-gradient(circle at 55% 32vmin, var(--house) 16vmin, #fff0 calc(16vmin + 1px)); width: 22vmin; height: 22vmin; bottom: 0; z-index: -1; }
.fence:before { content: ""; position: absolute; width: 2vmin; height: 18vmin; background: var(--house); left: 5vmin; top: 5vmin; transform: skewY(30deg) rotate(-1deg); box-shadow: 8vmin -5vmin 0 -0.25vmin var(--house); }
.fence:after { content: ""; position: absolute; width: 1.75vmin; height: 16vmin; background: var(--house); left: 10vmin; top: 4vmin; transform: skewY(-20deg) rotate(1deg); box-shadow: 5vmin 3vmin 0 0.1vmin var(--house); }
.fence + .fence { right: 0; }
.fence + .fence:before { left: 4vmin; top: 6vmin; height: 12vmin; transform: skewY(30deg) rotate(-7deg); box-shadow: 5vmin -2vmin 0 -0.25vmin var(--house); }
.fence + .fence:after { left: 6.5vmin; top: 7vmin; height: 10vmin; transform: skewY(-23deg) rotate(-1deg); width: 1.5vmin; box-shadow: 5vmin 2vmin 0 -0.25vmin var(--house), 4.75vmin 3vmin 0 -0.25vmin var(--house); }
.fence span { background: var(--house); width: 15vmin; height: 1.85vmin; top: 7vmin; left: 3vmin; transform: skewX(15deg) rotate(-10deg); }
.fence span + span { width: 15vmin; top: 12.25vmin; left: 2.5vmin; transform: rotate(-8deg) skewX(-18deg); }
.fence + .fence span { width: 11vmin; top: 8vmin; transform: rotate(3deg) skewX(-4deg); height: 2vmin; left: 2.5vmin; }
.fence + .fence span + span { top: 12vmin; transform: rotate(-4deg) skewX(17deg); left: 3.2vmin; width: 10.2vmin; }
.balcony { width: 12vmin; height: 9vmin; background: linear-gradient(-101deg, #fff0 0 1.5vmin, var(--house) calc(1.5vmin + 1px) 2.25vmin, #fff0 calc(2.25vmin + 1px)), linear-gradient(-98deg, #fff0 0 5.5vmin, var(--house) calc(5.5vmin + 1px) 6.25vmin, #fff0 calc(6.25vmin + 1px)), linear-gradient(88deg, #fff0 0 4vmin, var(--house) calc(4vmin + 1px) 4.75vmin, #fff0 calc(4.75vmin + 1px)), linear-gradient(85deg, #fff0 0 9vmin, var(--house) calc(9vmin + 1px) 9.75vmin, #fff0 calc(9.75vmin + 1px)), linear-gradient(177deg, #fff0 1vmin, var(--house) calc(1vmin + 1px) 2vmin, #fff0 calc(2vmin + 1px)), linear-gradient(183deg, #fff0 1vmin, var(--house) calc(1vmin + 1px) 2vmin, #fff0 calc(2vmin + 1px)); z-index: 3; left: 43vmin; top: 34vmin; border-bottom: 2vmin solid var(--house); border-right: 0.75vmin solid var(--house); border-radius: 0.25vmin; transform: skewX(-18deg) rotate(5deg); transition: transform 1s var(--bounce) 0s; transform-origin: 0 100%; }
.balcony:before { content: ""; position: absolute; width: 100%; height: 80%; top: -78%; }
.balcony.active { transform: skewX(-18deg) rotate(25deg); transition-duration: 0.5s; }
.level-2 .window:before { content: ""; position: absolute; width: 1.5vmin; height: 20vmin; background: hsla(0, 100%, 50%, 0.75); border-radius: 0 0 1vmin 1vmin; top: -22vmin; left: 50%; z-index: 1; transition: all 4s ease-out 0s; box-shadow: -1.5vmin -3vmin 0 -0.1vmin hsla(0, 100%, 50%, 0.625), -2.875vmin -2vmin 0 -0.1vmin hsla(0, 100%, 50%, 0.65), -3.875vmin -5.5vmin 0 -0.4vmin hsla(0, 100%, 50%, 0.75), -4.875vmin -4vmin 0 -0.1vmin hsla(0, 100%, 50%, 0.725), 1.35vmin -1.5vmin 0 -0.1vmin hsla(0, 100%, 50%, 0.625), 2.5vmin -2.5vmin 0 -0.3vmin hsla(0, 100%, 50%, 0.725), 3.35vmin -5.5vmin 0 -0.4vmin hsla(0, 100%, 50%, 0.65); }
.level-2 .window.active:before { top: 0vmin; box-shadow: -1.5vmin -1vmin 0 -0.1vmin hsla(0, 100%, 50%, 0.625), -2.875vmin -3vmin 0 -0.1vmin hsla(0, 100%, 50%, 0.65), -3.875vmin -2.5vmin 0 -0.4vmin hsla(0, 100%, 50%, 0.75), -4.875vmin -4vmin 0 -0.1vmin hsla(0, 100%, 50%, 0.725), 1.35vmin -2.5vmin 0 -0.1vmin hsla(0, 100%, 50%, 0.625), 2.5vmin -1.5vmin 0 -0.3vmin hsla(0, 100%, 50%, 0.725), 3.35vmin -3.5vmin 0 -0.4vmin hsla(0, 100%, 50%, 0.65); }
.clouds span:nth-child(4) { transform: scale(1.1) rotate(-10deg); animation-delay: -33s; animation-duration: 65s; }